wikipedia
youtube_search
langchain_groq
langchain_huggingface
sentence-transformers
transformers
chromadb
ddgs
pinecone_text
langchain_experimental
langchain_core
langchain>=0.3.0
langchain-community>=0.3.0
langgraph>=1.0.1